table.sorting tr:not(.home){
    cursor: pointer;
}

.ui-state-highlight {
    border: 1px dashed #ccc;
}

.new-cat {
    margin-top: 30px;
    position: relative;
}

.ajax-text{
    display: none;
}

table.sorting.categories td{
    padding: 20px !important;
}

.ajaxdivtd{
    position: absolute;
}

.loader{
    display: none;
}
.ajxmsg {
    background: green;
    color: white;
    padding: 10px;
    display: none;
    position: absolute;
    bottom: 0;
}